* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header, footer{
    padding: 8px 32px;
    height: 70px;
    background-color: #ece5dd;
}

h1{
    color: blue;
}

.chat-box { /* Metto il punto perché è una classe */
    padding: 32px;
    /* Si deve rispondere alla dimensione dello schermo (DVH!) */
    height: calc(100dvh - 140px);
    background-image: url('background.jpg');
    overflow-y: scroll;
}

/* Utilizzo FLEXBOX */

.chat-row.sent{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
    padding-left: 32px;
}

.chat-row.rec{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 32px;
    padding-right: 32px;
}

.chat-row.sent > .chat-message {
    padding: 8px;
    border-radius: 23px;
    background-color: #d5f9ba;
    box-shadow: 3px 3px 15px #00000050;
}

.chat-row.rec > .chat-message {
    padding: 8px;
    border-radius: 23px;
    background-color: white;
    box-shadow: 3px 3px 15px #00000050;
}


time{
    font-size: 11px;
    color: gray;
}

footer{
    display:flex;
    align-items: center;
    gap: 32px;
}

input{
    width: 100%;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 23px;
    border: none;
}

button{
    border: none;
    background-color: transparent;
    font-size: 32px;
    color: #666666;
    border: none;
    cursor: pointer;
}

button:hover{
    color: green;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-left{
    display:flex;
    align-items: center;
    gap: 8px;
}

.header-right{
    display:flex;
    gap:8px;
    font-size: 21px;
    color: #232323;
}